.custom-header {
  background: linear-gradient(135deg, #1e1e2f, #2d2d44);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#mobileMenu {
  background-color:  #2d2d44 !important;
  opacity: 1;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.nav-link {
  color: #fff !important;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #b3b3ff !important;
}

.hamburger {
  cursor: pointer;
  color: white;
}
